*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 ,h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
   object-fit: cover; 
}


body {
    
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */

.header {
    min-height: 100vh;
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.header__top-inner {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-title {
    font-family: 'Georgia', 'serif';
    font-size: 32px;
    line-height: 35px;
    letter-spacing: .3px;
    color: #f1cdb3;
}

.header__logo-subtitle {
    font-family: 'Arial', 'serif';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 2px;
    margin-top: 10px;
}


.header__menu-items {
    display: flex;
}

.menu__item {
    margin-right: 35px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-family: 'Arial', 'serif';
    font-size: 15px;
    line-height: 24px;
    transition: all .3s;
}

.menu__link:hover {
    color: #fafafa;
    border-bottom: 1px solid #f1cdb3;
}

.header__content {
    margin-top: 60px;
}


.header__content-inner {
    display: flex;
    justify-content: space-between;
}

.header__content-left {
    margin-top: 163px;
}

.header__content-title {
    font-family: 'Georgia', 'serif';
    font-size: 44px;
    line-height: 57px;
    max-width: 355px;
}

.header__content-text {
    margin-top: 42px;
    max-width: 460px;
    font-family: 'Arial', 'serif';
    font-size: 15px;
    line-height: 24px;
}


.header__content-btn {
    display: inline-block;
    margin-top: 42px;
    background-color: #f1cdb3;
    border-radius: 100px;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #292929;
}

.header__content-img {
    /*
    position: relative;
    top: 29px;
    transform: translateY(29px);*/
    margin-top: 29px;
    
    
}

/* --HEADER */


/* MAIN */

/* ABOUT */

.about {
    padding: 60px 0 100px 0;
}

.about__inner {
    display: flex;
    justify-content: space-around;
    
}

.about__title {
    max-width: 370px;
    font-family: 'Georgia', 'serif';
    font-size: 35px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 3px;
}

.about__text {
    margin-top: 25px;
    max-width: 430px;
    font-family: 'Arial', 'serif';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

/* --ABOUT */

/* FRIENDS */
.friends {
    padding: 80px 0 100px 0;
    background-color: #f6f6f6;
}

.friends__title {
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    color: #545454;
    
}

.friends__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    position: relative;
}

.friends__card {
    background-color: #fafafa;
}

.friends__card-title {
    font-family: 'Georgia', 'serif';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 30px;
}

.friends__card-btn {
    display: inline-block;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    padding: 15px 45px;
    margin: 30px 0px 45px 35px;
    text-align: center;
    font-family: 'Georgia', 'serif';
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: center;
}

.friends__card-prev,
.friends__card-next {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 23px 19px;
    border: 1px solid #f1cdb3;
    border-radius: 100px;
}

.friends__card-prev {
    top: 185px;
    left: -103px;
}

.friends__card-next {
    top: 185px;
    right: -103px;
}

.arrow__img {
    padding-bottom: 10px;
}

.friends__btn-bottom {
    max-width: 290px;
    margin: 0 auto;
}

.friends__btn {
    display: inline-block;
    margin-top: 60px;
    background-color: #f1cdb3;
    border-radius: 100px;
    padding: 15px 45px;
    font-family: 'Georgia', 'serif';
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #292929;
}

/* --FRIENDS */


/* DONATION */
.donation {
    padding: 90px 0 100px 0;
    background-color: #f6f6f6;
}

.donation__inner {
    display: flex;
    gap: 30px;
}

.donation-img {
    max-width: 505px;
    max-height: 261px;
}

.donation__title {
    max-width: 303px;
    font-family: 'Georgia', 'serif';
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 3px;
    color: #545454;
}

.donation__text {
    margin-top: 20px;
    font-family: 'Georgia', 'serif';
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 2px;
    color: #545454;
}

.donation__card {
    margin-top: 20px;
    max-width: 370px;
    max-height: 43px;
    border-radius: 9px;
    padding: 10px 15px;
    background-color: #f1cdb3;
    display: flex;
    align-items: center;
    gap: 15px;
}

.donation__card-num {
    font-family: 'Georgia', 'serif';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    color: #545454;
}

.donation__subtext {
    margin-top: 20px;
    max-width: 380px;
    font-family: 'Arial', 'serif';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    font-style: italic;
    color: #b2b2b2;
}
/* --DONATION */

/* --MAIN */

/* FOOTER*/
.footer {
    padding: 56px 0 0px 0;
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__contacts-title,
.footer__address-title {
    font-family: 'Georgia', 'serif';
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 3px;
}

.footer__contacts-title {
    max-width: 292px;
}

.footer__address-title {
    max-width: 274px;
}

.footer__contacts-item,
.footer__address-item {
    display: block;
    margin-top: 45px;
    font-family: 'Georgia', 'serif';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    color: #f1cdb3;
}

.footer__contacts-item {
    display: flex;
    gap: 20px;
}


.footer__address-img {
    max-width: 22px;
    max-height: 32px;
}

.footer__address-item {
    max-width: 315px;
    margin-top: 34px;
    display: flex;
    align-items: center;
    gap: 20px;

}

.footer__address-item span {

}
/* --FOOTER */